.cart
  a
    display: block
    background: #ccba89
    border-top: 2px solid #ccba89
    padding: 10px 15px
    color: #fff
    &:hover
      background: #c3b07b
      border-top: 2px solid #ccba89
    .fa-shopping-cart
      font-size: 30px
      margin-right: 15px
      color: #fff
    div
      position: relative
      top: -4px
      display: inline-block
      font-weight: bold
      text-transform: uppercase
      color: #fff
