.public-index
  .frontpage-section
    position: relative
    height: 100%
    &.bg-white
      background: #fff
    h1,
        font-size: 4em
        text-align: center
    h2
      font-size: 4em
      text-align: center
      &.bold
        font-weight: 700
      &.thin
        font-weight: 200
    p
      font-size: 16px
      line-height: 1.5em

  // Header
  .frontpage-header
    background: url('/images/shutterstock_384205462.jpg') center center
    background-size: cover
    color: #fff
    height: 80vh
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    a
      color: #fff
      width: 300px
      margin-top: 50px

  .map-wrapper
    position: relative
    .metrics
      width: auto
      position: absolute
      bottom: 15px
      left: 15px
      z-index: 999
      background: #fff
      border-radius: 3px
      .metric
        margin: 0 auto
        padding: 15px 15px 10px
        color: #333
        float: left
        text-align: center
        .value
          font-weight: 700
          font-size: 20px
        .label
          font-size: 12px

  .card-deck
    .card
      .card-footer
        border-top: 0
        text-align: center
        .btn
          margin-bottom: 15px

  .membership
    > .col-12
      padding-top: 30px
      padding-bottom: 30px
    background: url('/images/cows-bw.jpg') center center
    background-size: cover
    color: #dec286
    min-height: 80vh
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    .membership-content
      font-family: 'montserrat'
      text-transform: none
      font-size: 18px
      line-height: 32px
      margin-top: 50px
      &.big
        font-size: 40px
        line-height: 40px
      &.uppercase
        text-transform: uppercase
    a
      width: 300px
      margin-top: 50px
      color: #dec286
      border-color: #dec286

    .metrics
      display: flex
      justify-content: center
      margin-top: 20px
      .metric
        margin: 2vw
        display: flex
        flex-direction: column
        align-items: center
        .value
          background: #dec286
          color: #fff
          font-size: 40px
          width: 180px
          line-height: 180px
          border-radius: 100px
          text-align: center
          font-weight: bold
          font-family: 'montserrat'
          .value-unit
            font-size: 30px
            padding-left: 10px
            &.fa
              position: relative
              top: -3px
        .label
          margin-top: 15px
          font-family: 'montserrat'
          text-transform: uppercase
          font-weight: bold
          color: #dec286
          text-align: center

  .find-out-more
    .logo
      padding-top: 50px
      width: 10vw
      display: block
      margin: 0 auto
    > h2
      padding-top: 50px
      padding-bottom: 50px
      color: #333
    .row
      margin-left: 15px
      margin-right: 15px
      .card
        h3
          overflow-wrap: break-word
          word-wrap: break-word
          -ms-word-break: break-all
          /* This is the dangerous one in WebKit, as it breaks things wherever */
          word-break: break-all
          /* Instead use this non-standard one: */
          word-break: break-word
          /* Adds a hyphen where the word breaks, if supported (No Blink) */
          -ms-hyphens: auto
          -moz-hyphens: auto
          -webkit-hyphens: auto
          hyphens: auto

  .btn-outline
    border: 1px solid #fff
    padding: 20px
    text-transform: uppercase
    display: block
    -webkit-transition: background-color 1s
    transition: background-color 1s
    font-weight: bold
    margin: 20px auto
    color: #fff
    &:hover
      background: rgba(255, 255, 255, 0.4)
      text-decoration: none
    &.dark
      color: #333
      border-color: #333

#frontpage-metrics
  background: #fff
  .chart
    width: 100%

@media (max-width: 991px)
  .public-index
    .frontpage-section
      h2
        font-size: 2.5em
      .left,
      .right
        width: 100vw

    .card-deck
      display: block

// Hide things on front page when logged in
body.public-index
  &.logged-in
    .frontpage-header,
    .what-is-lfn
      display: none
