.navbar-wrapper
  background: #fff
  box-shadow: #ccc 0 1px 6px 0px
  z-index: 3
.navbar
  border: 0
  border-radius: 0
  color: #333
  font-family: 'montserrat'
  height: 60px
  text-transform: uppercase
  .navbar-brand
    color: #333
    font-weight: bold
    font-size: 20px
    line-height: 50px
    &:hover
      color: #333
    img
      height: 35px
      width: auto

#main-nav
  .navbar-nav
    .nav-item
      height: 60px
      padding: 10px
      width: 60px
      text-align: center
      &.active
        background: #666
        a
          color: #fff
      &:hover
        background: #999
        a
          color: #fff

      .fa
        font-size: 24px
      .nav-link
        color: #aaa
      &.dropdown
        .dropdown-toggle
          &::after
            display: none
        .dropdown-menu
          a
            color: #333

.login-dropdown
  text-transform: none
  min-width: 350px
  color: #333
  padding: 0
  li
    padding: 20px
