body.public-node

  .node-content
    .node-admin
      margin-bottom: 20px
      .icon
        float: left
        font-size: 32px
        color: #ccc
      .admin-info
        overflow: hidden
        margin-left: 40px
    .content
      &.content-left-margin
        margin-left: 40px

  .product-filter
    border-bottom: 1px solid #eee

  .node-metrics
    border-bottom: 1px solid #eee
    .metric
      margin-bottom: 5px
      display: flex
      .value
        font-size: 16px
        line-height: 1em
        font-weight: bold
        margin-right: 5px
        font-family: 'montserrat'
      .label
        line-height: 16px


// Product card
body.public-producer,
body.public-node
  .product-card
    text-decoration: none
    color: #333
    padding: 10px
    &:hover
      box-shadow: #ccc 0 1px 8px 0
    .image-placeholder
      background: #fafafa
      font-size: 4rem
    .card-block
      padding: 10px 0
      .producer-info
        font-size: 12px
        line-height: 1.5em
      .title
        font-weight: 700
        font-family: 'montserrat'
        text-transform: uppercase
        margin-bottom: 10px
        color: #c3b07b
    .card-footer
      background: #fff
      font-size: 12px
      border: 0
      padding: 2px 0
      text-align: right
      color: #999
