html, body {
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.5em;
}
strong {
    font-weight: 700;
    color: #333;
}
button,
input[type=submit] {
    font-family: 'montserrat';
    text-transform: uppercase;
}
label {
    font-family: 'montserrat';
    font-weight: 400;
}
body.landing-page .alert {
    margin: 0;
    border: 0;
    font-family: 'montserrat';
    background: #fff;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'montserrat';
    color: #333;
    margin-bottom: 1em;
}
h1 {
    text-transform: uppercase;
    font-size: 36px;
}
h2 {
    text-transform: uppercase;
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 14px;
}
a, a:hover, a:active, a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar h1 {
    color: #fff;
}
.footer {
    background: #333;
    padding: 75px 0 75px;
    margin-top: 100px;
    color: #fff;
}
.footer .logo {
    background: url('../images/logo.png') no-repeat;
    background-size: 100px auto;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.footer a:hover {
    text-decoration: underline;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    text-align: left;
    color: #fff;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
    text-align: left;
}

.alert {
    border-radius: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-align: center;
    padding: 30px 0;
    font-family: montserrat;
    text-transform: uppercase;
}

.locale-switcher {
    float: right;
    margin: 10px 30px 0 0;
    z-index: 9999;
}

.locale-switcher .btn,
.locale-switcher .btn:focus,
.locale-switcher .btn:hover,
.locale-switcher .btn:active {
    outline: none;
    outline-offset: 0;
    width: 100px;
    float: left;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #fff;
}
.locale-switcher.open .btn,
.locale-switcher.open .btn:focus,
.locale-switcher.open .btn:hover {
    background-color: transparent;
    color: #fff;
}

.section-header {
    font-family: 'montserrat';
    text-align: center;
    margin-bottom: 50px;
}
.section-header .small {
    margin: 0;
    text-transform: none;
    font-size: 20px;
}
.section-header .big {
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
}
.help-block {
    font-size: 14px;
}
